.footer {
  border-top: 2px solid red;
}

.links {
  margin: 0;
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;

  list-style-type: none;
}

.segments {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
}

.segments > li {
  border-left: 1px solid red;
  padding-left: 0.4rem;
  margin-right: 0.4rem;
}

.segments > li:first-child {
  border: none;
}

.phone {
  border-radius: 100%;
  color: red;
  background-color: white;
  padding: 4px;
  font-size: 12px !important;
}

.linkIcon {
  font-size: 18px;
  margin-right: 6px;
}

/* Small Screen */
@media screen and (max-device-width: 420px) {
  .links {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem 0;

    list-style-type: none;
  }
}
