.footer {
  border-top: 2px solid red;
}

.links {
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;

  list-style-type: none;
}

.segments {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
}

.segments > li {
  border-left: 1px solid red;
  padding-left: 0.4rem;
  margin-right: 0.4rem;
}

.segments > li:first-child {
  border: none;
}
